*{
  margin: 0;
  padding: 0;
}
body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem 0.5rem;
  text-align: center;
  /*background: rgba(255,255,153, 0.5);*/
  position: relative;
  /*color: #009999;*/
  /*background-image: linear-gradient(45deg, rgba(255,204,153, 0.3), #ffffff, rgba(255,255,153, 0.5));*/
  color: #ffffff;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
}
.title p:last-child {
  font-size: 1.4rem;
}
.title p:first-child {
  font-size: 1.6rem;
}
.image {
  width: 100%;
  max-height: 35rem;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.4rem;
}
.image img {
  display: block;
  height: calc(100% - 5rem);
  margin: 0 auto;
  -webkit-mask: url("image/heart.png") no-repeat center/auto 125%;
}
.image div {
  font-size: 1.6rem;
  text-align: center;
  line-height: 3.4rem;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.image div::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}
.content-red {
  font-size: 1.6rem;
  text-indent: 2em;
  font-style: italic;
  color: #ffffff;
  text-align:center;
  padding: 1.5rem 1rem;
}
.weather {
  font-size: 1.4rem;
  padding: 1.2rem 1rem;
}
.today {
  font-weight: bold;
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 2.5rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.today::before {
  content: '';
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
  top: 0;
  background: url("image/weather.png") no-repeat center/cover;
}
.dress::before {
  content: '';
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
  top: 0;
  background: url("image/dress.png") no-repeat center/cover;
}
.cold::before {
  content: '';
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
  top: 0;
  background: url("image/cold.png") no-repeat center/cover;
}
.motion::before {
  content: '';
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
  top: 0;
  background: url("image/motion.png") no-repeat center/cover;
}
.list {
  line-height: 1.5;
  border: 0.2rem dashed #ffffff;
  padding: 1.5rem;
  border-radius: 2rem 0 2rem 0;
  list-style: none;
}
.list li {
  margin-bottom: 1rem;
  color: #ffffff;
  position: relative;
  line-height: 2.4rem;
  padding-left: 2.4rem;
}
li:last-child {
  margin-bottom: 0;
}